@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);
  --font-bebas: var(--font-bebas);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

.font-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
